@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is for our ISEM 551 Assignment 1.</p>
<p>We were tasked with creating a web page using C# and MVC. The site will have two routes, Rural and Urban. </p>
