@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<members>
    <i class="fas fa-user"></i><strong> Cynthia Numukobwa:</strong><br />
    <i class="fas fa-envelope"></i><a href="mailto:CNumukobwa@my.harrisburgu.edu"> CNumukobwa@my.harrisburgu.edu</a><br />
    <br />
    <i class="fas fa-user"></i><strong> Wei Huang:</strong> <br />
    <i class="fas fa-envelope"></i><a href="mailto:whuang2@my.harrisburgu.edu"> whuang2@my.harrisburgu.edu</a><br />
    <br />
    <i class="fas fa-user"></i><strong> Raquel Noblejas Sampedro:</strong>  <br />
    <i class="fas fa-envelope"></i><a href="mailto:RNoblejas@my.harrisburgu.edu"> RNoblejas@my.harrisburgu.edu</a>
</members>
