@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<members>
    <strong>Cynthia Numukobwa:</strong>   <a href="mailto:CNumukobwa@my.harrisburgu.edu">CNumukobwa@my.harrisburgu.edu</a><br />
    <strong>Wei Huang:</strong> <a href="mailto:email@example.com">email@example.com</a><br />
    <strong>Raquel Noblejas Sampedro:</strong> <a href="mailto:RNoblejas@my.harrisburgu.edu">RNoblejas@my.harrisburgu.edu</a>
</members>
