@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<members>
    <strong>Cynthia Numukobwa:</strong>   <a href="mailto:email@example.com">email@example.com</a><br />
    <strong>Wei Huang:</strong> <a href="mailto:email@example.com">email@example.com</a><br />
    <strong>Raquel Noblejas Sampedro:</strong> <a href="mailto:email@example.com">email@example.com</a>
</members>