@model IEnumerable<Models.ML_Class>

@{
    ViewBag.Title = "Rural";
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<body>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="column">
            @foreach (var item in Model){
                if (item.ImageType == "rural")
                {
                    <img src=@Html.DisplayFor(modelItem => item.ImageURL)  style="width:100%" />
                }
            }
        </div>
        @*<div class="column">
            <img src="~/images/rural6.jpeg" style="width:100%">
            <img src="~/images/rural7.jpg" style="width:100%">
            <img src="~/images/rural8.jpeg" style="width:100%">
            <img src="~/images/rural9.jfif" style="width:100%">
            <img src="~/images/rural10.jpg" style="width:100%">
        </div>*@
    </div>
</body>


