@{
    ViewBag.Title = "Team";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<members>
    <strong>Cynthia Numukobwa:</strong>   <a href="mailto:email@example.com">email@example.com</a><br />
    <strong>Wei Huang:</strong> <a href="mailto:email@example.com">email@example.com</a><br />
    <strong>Raquel Noblejas Sampedro:</strong> <a href="mailto:email@example.com">email@example.com</a>
</members>

