<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
	   <binding name="BasicHttpBinding_Service1">
		   <security mode="Transport" />
	   </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:53024/Service1.svc"
			 binding="basicHttpBinding"
			 bindingConfiguration="BasicHttpBinding_Service1"
			 contract="MyPhotographyService.IMyPhotographyInfoService" />
  </client>
	</system.serviceModel>

	<connectionStrings>
		<add name="ContactsConnection_DEV"
    connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;"
    providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>